# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


frontend/node_modules/

# Next.js build output
frontend/.next/

.node_modules/*

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# IDE files
.vscode/
.idea/
*.swp

# Test coverage reports
htmlcov/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.pyc

# Environment variables
.env*
.env.*
*.env

# Package files
*.egg

./Backend/query_outputs/*
./Backend/databricks_secrets.py

env/*
