AWSTemplateFormatVersion: "2010-09-09"
Description: "EMR Serverless Spark Application for INAAS Raw Data Lab"

Parameters:
  ApplicationName:
    Type: String
    Default: inaas-raw-spark

  LogS3Uri:
    Type: String
    Description: "S3 URI for EMR Serverless logs"

Resources:

  EMRServerlessApplication:
    Type: AWS::EMRServerless::Application
    Properties:
      Name: !Ref ApplicationName
      Type: SPARK
      ReleaseLabel: emr-6.12.0

      AutoStartConfiguration:
        Enabled: true

      AutoStopConfiguration:
        Enabled: true
        IdleTimeoutMinutes: 10

      MaximumCapacity:
        Cpu: "16 vCPU"
        Memory: "64 GB"

      InitialCapacity:
        - Key: Driver
          Value:
            WorkerCount: 1
            WorkerConfiguration:
              Cpu: "1 vCPU"
              Memory: "2 GB"

        - Key: Executor
          Value:
            WorkerCount: 2
            WorkerConfiguration:
              Cpu: "2 vCPU"
              Memory: "4 GB"

      MonitoringConfiguration:
        S3MonitoringConfiguration:
          LogUri: !Ref LogS3Uri

Outputs:
  ApplicationId:
    Description: "EMR Serverless Application ID"
    Value: !Ref EMRServerlessApplication
